@import 'src/scss/global';

.Header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  position: relative;

  @include breakpoint(lg) {
    &__menu {
      flex-grow: 1;
    }
    &__app {
      flex-grow:1;
    }
  
    &__counter {
      display: none;
      width: 1.5rem;
      height: 1.5rem;
      font-size: .75rem;
      line-height: 1.5rem;
      border-radius: 50%;
      background: #FB6D3A;
      color: white;
      font-weight: 700;
      flex-shrink: 0;
    }
  }
  @include breakpoint(lg) {
    }
    &__counter {
      display: block;
    
    }
}