.title{
    display: flex;
    justify-content: left;
    font-family: 'Bebas Neue', cursive;
    color: #344055;
}

.containerMain{
    flex-direction: row;
    flex-flow: row wrap;
    display: flex;
    min-width: 500;
    justify-content: center;
    padding: 50px;
}
